.team-wrapper {
  padding: 25px auto 0px auto;
  align-items: center;
  justify-content: center;
  background: #171717;
  width: 85vw;
}

.event-header {
  display: flex;
  height: 100px;
  margin: 0;
  margin-top: 100px;
  right: 0;
  padding: 0px;
  gap: 20px;
}

.transition-div-t {
  position: relative;
  left: 0;
  width: 70vw;
  height: 100px;
}


.container-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0%;
  margin-top: 140px;
  height: fit-content;
  gap: 20px;

}

.box {
  position: relative;
  width: calc(95% / 3);
  height: calc(95% / 3);
  background-color: #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.box > img {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  transition: filter 0.6s all;
}

.box:hover {
  background: linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
}

.name-tag-team {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  bottom: -24.5%;
  display: flex;
  justify-content: center;
  align-items: end;
  pointer-events: none;
  transition: opacity 0.5s ease;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 47.91%);
  margin: 0%;
  height: 50%;
  width: 100%;
  font-family: "MoriGothic-Semibold";
}

.box:hover .name-tag-team {
  opacity: 1;
  pointer-events: auto;
}

.name-team {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.name-team > .name-team-member {
  font-size: 35px;
}
.position-team-member {
  font-size: 22px;
  margin-top: -10px;
}
@media screen and (max-width: 1000px) {
  .container-team{
    gap: 15px;
  }
  .box {
    width: calc(95% / 3);
    height: calc(100% / 3);
  }
  .name-team > .name-team-member {
    font-size: 21px;
  }
}

@media screen and (max-width: 767px) {
  .team-wrapper>.event-header{
    margin-top: 60px;
  }
  .container-team{
    gap: 10px;
  }
  .box {
    width: calc(95% / 3);
    height: calc(100% / 3);
  }
  .name-team > .name-team-member {
    font-size: 21px;
  }
}

@media screen and (max-width: 500px) {
   .team-wrapper>.event-header{
    margin-top: 20px;
  }
  .container-team{
    gap: 7px;
  }
  .box {
    width: calc(97% / 2);
    height: 100%;
  }
  .name-team > .name-team-member {
    font-size: 16px;
  }
  .name-team > .position-team-membere {
    font-size: 13px;
  }
}

.cd-team-wrapper {
  margin-top: 100px;
  display: flex;
  color: white;
  align-items: first baseline;
  justify-content: space-between;
}
.cd-left-team {
  width: 55%;
  margin: 0%;
}

.cd-left-team > .cd-left-team-one {
  font-size: 4.9vw;
  margin: 0%;
  line-height: 0.9;
  font-family: "NeueMachinaUltrabold";
}

.cd-left-team > .cd-left-team-two {
  font-size: 1.3vw;
  margin: 0%;
  margin-top: 20px;
  font-family: "NeueMachinaRegular";
}
.cd-right-team {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  justify-content: right;
  gap: 10px;
  font-family: "NeueMachinaRegular";
}

.right-cd-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  margin: 0%;
  padding: 7px 25px;
  border-radius: 80px;
  gap: 10px;
  width: fit-content;
  cursor: pointer;
  font-family: "NeueMachinaUltrabold";
}

.right-cd-div {
  filter: opacity(0.5);
}

.right-cd-div:hover {
  filter: opacity(1);
}

@media screen and (max-width: 1400px) {
  .container-team {
    margin-top: 100px;
  }
  .cd-right-team{
    width: 35%;
  }
}

@media screen and (max-width: 1200px) {
  .transition-div-t {
    width: 80vw;
  }
  .cd-right-team{
    width: 40%;
  }
}
@media screen and (max-width: 1000px){
.cd-team-wrapper{
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.cd-left-team{
  width: 100%;
  display: flex;
  flex-direction: column;
align-items: center;
    justify-content: center;

}
.cd-right-team{
    width: 100%;
    justify-content: center;
  }
  .cd-left-team>.cd-left-team-two{
    font-size: 17px;
    text-align: center;
    margin-top: -0.1px;
  }
}

@media screen and (max-width: 900px) {
  .transition-div-t {
    width: 90vw;
  }
  .transition-div-t > p {
    font-size: 90px;
  }
  .transition-div-t > img {
    width: 65px;
    height: 65px;
  }
  .container-team {
    margin-top: 80px;
  }
}
@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
  .transition-div-t {
    width: 90vw;
    gap: 8px;
  }
  .transition-div-t > p {
    font-size: 62px;
  }
  .transition-div-t > img {
    width: 45px;
    height: 53px;
  }
  .container-team {
    margin-top: 50px;
  }
  .cd-left-team>.cd-left-team-one{
    font-size: 30px;
  }
  .cd-left-team>.cd-left-team-two{
    font-size: 15px;
    text-align: center;
    margin-top: -0.3px;
  }
}

@media screen and (max-width: 500px) {
  .transition-div-t {
    width: 90vw;
    gap: 5px;
  }
  .transition-div-t > p {
    font-size: 50px;
  }
  .transition-div-t > img {
    width: 40px;
    height: 50px;
  }
  .container-team {
    margin-top: 30px;
  }
  .cd-left-team>.cd-left-team-one{
    font-size: 25px;
  }
}
@media screen and (max-width: 420px){
.cd-left-team>.cd-left-team-one{
    font-size: 22px;
  }
  .cd-left-team>.cd-left-team-two{
    font-size: 14px;
    text-align: center;
  }
   .team-wrapper>.event-header{
    margin-top: 10px;
  }

  
   .transition-div-t > p {
    font-size: 47px;
  }
  .transition-div-t > img {
    width: 40px;
    height: 50px;
  }
}
