.header-wrapper {
  top: 0;
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
  height: fit-content;
  padding: 25px auto 0px auto;
  align-items: center;
  justify-content: center;
}

.header-head {
  color: white;
  font-weight: 800;
  font-size: 9vw;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding-top: 150px;
  font-family: "NeueMachinaUltrabold";
}
.font-style {
  margin: 0px;
}
.font-styles {
  margin: 0%;
  margin: 0px;
}
.header-head > div {
  display: flex;
}

.dots-image {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: -20px;
}

.text-image-wrap {
  display: flex;
  gap: 3.5vw;
}
.text-image > img {
  display: inline;
  gap: 2vw;
  padding: 0px 20px;
  opacity: 0.3;
}

.sec-twin {
  margin: 0px;
}
.play {
  margin-top: 20px;
  height: 7.2vw;
  width: 35.4vw;
}

.loc-cal {
  margin: 0px;
  display: flex;
  color: white;
  gap: 30px;
}

.loc-cal > div {
  border: 2px solid white;
  border-radius: 80px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
}

.loc-cal > div > img {
  height: 20px;
  width: 30px;
}

.design-arrow {
  margin-top: 50px;
  /* position: relative; */
  display: inline-block;
  width: max-content;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 80vh;
  width: 100%;
  max-width: 1400px;
  border-radius: 150px 150px 0px 0px;
}
.heroOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 150px 150px 0px 0px;
  text-align: right;
}
.heroOverlay > div > h1 {
  font-size: 6vw;
}

/* .design-arroid {
  position: absolute;

} */

.image-button {
  position: absolute;
  top: -70px;
  right: 10%;
  border-radius: 50%;
  border: none;
  outline: none;
}

.image-button > img {
  width: 8vw;
  height: 8vw;
}

/*name tag*/

.nametag-wrapper {
  background-color: black;
}
.scroll-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.scroll-content {
  animation: scroll 55s linear infinite;
  color: rgb(255, 255, 255);
  height: 50px;
  width: 100%;
  white-space: nowrap;
  font-size: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
