.header-wrapper {
  top: 0;
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
  height: fit-content;
  padding: 25px auto 0px auto;
  align-items: center;
  justify-content: center;
}

.header-head {
  color: white;
  font-weight: 800;
  font-size: 8vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 130px;
  font-family: "NeueMachinaUltrabold";
  width: fit-content;
}
.font-style {
  margin: 0px;
}
.font-styles {
  margin: 0%;
  margin: 0px;
}
.header-head > div {
  display: flex;
}

.dots-image {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: -40px;
}

.text-image-wrap {
  display: flex;
}
.text-image > img {
  display: inline;
  gap: 2vw;
  padding: 0px 20px 20px;
  opacity: 0.3;
}

.sec-twin {
  margin: 0px;
}
.play {
  margin-top: 40px;
  height: 6.7vw;
  width: 35.4vw;
}

.loc-cal {
  margin: 0px;
  display: flex;
  color: white;
  gap: 30px;
  font-family: "NeueMachinaRegular";
}

.loc-cal > div {
  border: 2px solid white;
  border-radius: 80px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: fit-content;
}

.loc-cal > div > img {
  height: 20px;
  width: 30px;
}

.design-arrow {
  margin-top: 50px;
  /* position: relative; */
  display: inline-block;
  width: max-content;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 80vh;
  width: 100%;
  max-width: 1400px;
  border-radius: 150px 150px 0px 0px;
}
.heroOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 150px 150px 0px 0px;
  text-align: right;
}
.heroOverlay > div > h1 {
  font-size: 6vw;
  margin-bottom: -20px;
}

.heroOverlay > div > span {
  font-size: 40px;
  margin-right: 100px;
}

/* .design-arroid {
  position: absolute;

} */

.image-button {
  position: absolute;
  top: -70px;
  right: 10%;
  border-radius: 50%;
  border: none;
  outline: none;
}

.image-button > img {
  width: 8vw;
  height: 8vw;
}

/*name tag*/

.nametag-wrapper {
  position: relative;
  margin-top: -50px;
  background-color: black;
  z-index: 9900;
  font-family: "NeueMachinaUltrabold";

}
.scroll-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.scroll-content {
  animation: scroll 55s linear infinite;
  color: rgb(255, 255, 255);
  height: 60px;
  width: 100%;
  white-space: nowrap;
  font-size: 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 1337px) {
  .play {
    display: none;
  }
  .font-styles {
    margin-top: 30px;
  }
  .text-image > img {
    gap: 2vw;
    padding: 0px 20px 0px;
  }
  .sec-twin {
    margin-top: 25px;
  }
  .image-button {
  top: -35px;
  right: 10%;
}
.scroll-container{
  height: 90px;
}
}

@media screen and (max-width: 900px) {
  .loc-cal {
    flex-direction: column;
  }
  .font-styles {
    margin-top: 50px;
  }

  .header-head>.dots-image {
    display: none;
  }
  .image-button {
  top: -30px;
  right: 10%;
}
 .text-image > img {
    gap: 1.5vw;
    padding: 0px 15px 0px;
    width: 70px;
  }
  .sec-twin {
    margin-top: 50px;
  }

}

@media screen and (max-width: 700px) {
.loc-cal>div>h3{
  font-size: 14px;
}
.loc-cal {
  gap: 15px;
}
.design-arrow{
  margin-top: 10px;
}
.image-button {
  top: -30px;
  right: 15%;
}
.image-button > img {
  width: 10vw;
  height: 10vw;
}
.scroll-container{
  height: 80px;
}
}
@media screen and (max-width: 500px){
.text-image{
  display: none;
}
.font-style,
.font-styles{
  font-size: 12vw;
}
.loc-cal>div>h3{
  font-size: 12px;
}
.loc-cal>div>img{
  width: 15px;
}
.loc-cal>div{
  padding: 5px 10px;
}
.image-button {
  top: -20px;
  right: 18%;
}
.image-button > img {
  width: 12vw;
  height: 12vw;
}
}