.nav-bar-wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 30px 60px;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0px 30px 30px 30px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 25.1364px;
}

.nav-links {
  display: flex;
  gap: 105px;
  padding-right: 120px;
}
#header>img {
  width: 330px;
}
