.nav-bar-wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 30px;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 25.1364px;
}

.nav-links {
  display: flex;
  gap: 15px;
  padding-right: 60px;
}
img {
  width: 330px;
}
