.nav-bar-wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  padding: 15px 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.nav-links > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 25.1364px;
  font-family: "NeueMachinaRegular";

}

.nav-links {
  display: flex;
  gap: 45px;
  margin: 0%;
  padding-right: 30px;
}

.header-nav-img>a > img {
  width: 18vw;
  padding-left: 30px;
  margin: 0%;
}
