.schedule-wrapper {
  margin-top: 120px;
  margin-bottom: 0px;
  padding: 25px 10vw 0px 10vw;
  align-items: center;
  justify-content: center;
  background: #171717;
  color: white;
  width: 100vw;
}

.schedule-wrapper > .heading-team {
  font-size: 3vw;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "NeueMachinaUltrabold";
}
.schedule-head-tag-name {
  font-weight: 800;
  font-size: 140px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  margin: -40px 10px 0px 0px;
}

.schedule-content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 0px 50px;
  gap: 20px;
}
.schedule-content-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.schedule-content-div > h1 {
  font-size: 5.7vw;
  font-family: "NeueMachinaUltrabold";
}
.schedule-content-div-t {
  display: flex;
  gap: 50px;
  font-family: "NeueMachinaRegular";
}
.schedule-content-div-t > h4 {
  width: 16vw;
  font-weight: 500;
}

.schedule-content-div-ta {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 50px 50px 10px;
  font-size: 1.8vw;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .schedule-wrapper {
    margin-top: 100px;
    /* padding: 25px 100px 0px 100px; */
    /* padding: 25px 2vw 0px 2.5vw;  */
  }
  .schedule-content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
  }
  .schedule-content-div-ta {
    padding: 25px 30px 0px;
    width: 100%;
  }
  .schedule-content-div-ta > div {
    display: flex;
    gap: 5px;
  }
}
@media screen and (max-width: 600px) {
  .schedule-wrapper {
    margin-top: 100px;
    /* padding: 25px 100px 0px 100px; */
    padding: 25px 2vw 0px 2vw; 
  }
}
@media screen and (max-width: 500px) {
  .schedule-wrapper {
    margin: 70px 0px;
    padding: 25px 0px 0px 0vw;
  }
  .schedule-content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
  }
  .schedule-content-div > h1 {
    font-size: 8vw;
  }
  .schedule-content-div-ta {
    padding: 10px 0px 0px;
    font-size: 2.7vw;
    justify-content: left;
  }
  .schedule-content-div-t > h4 {
    width: 20vw;
    font-weight: 500;
  }
}
@media screen and (max-width: 420px) {
  .events-header > .schedule-head-img {
    width: 40px;
    height: 40px;
  }

  .events-header > .schedule-head-tag-name {
    font-weight: 800;
    font-size: 50px;
  }
}
