.schedule-days-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 80vw;
  /* align-items: center; */
  gap: 4vw;
  padding: 10% 0%;
}
.schedule-days-card-wrapper > div:nth-child(odd) {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 100px;
}

.schedule-days-card-wrapper > div:nth-child(even) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.schedule-days-card-wrapper > div:nth-child(even) >div>.schedule-single-card-content>:nth-child(1){
display: flex;
flex-direction: row-reverse;

}
.schedule-days-card-wrapper > div:nth-child(odd) > div:nth-child(1) {
  width: 100px;
  height: 100px;
  flex: 0.5;
  height: 200px;
  transform: translate(-100px, 100px);
  border-top: 2px dashed white;
  border-right: 2px dashed white;
}
.schedule-days-card-wrapper > div:nth-child(even) > div:nth-child(1) {
  width: 100px;
  height: 100px;
  flex: 0.5;
  height: 200px;
  transform: translate(100px, 100px);
  /* border-style: dashed; */
  border-top: 2px dashed white;
  border-left: 2px dashed white;
}
.schedule-days-card-wrapper > div:last-child>div:nth-child(1) {
  /* display: none; */
  border: none;
}
.schedule-single-card {
  height: fit-content;
  width: 45vw;
}
.schedule-single-card > img {
  height: fit-content;
  width: 45vw;
}

.schedule-single-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  top: 3%;
  padding: 5% 7% 5% 7%;
  gap: 0.8vw;
}

.schedule-single-card-content > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "NeueMachinaUltrabold";

  font-size: 2vw;
}
.schedule-single-card-content > :nth-child(1) > img {
  width: 12vw;
}
.schedule-single-card-content > :nth-child(2) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
  width: 100%;
  height: 2px;
}
.schedule-single-card-content > :nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.schedule-single-card-content > :nth-child(3) > div {
  display: flex;
  width: 100%;
  gap: 2vw;
  font-size: 1.3vw;
  justify-self: left;
  font-family: "NeueMachinaRegular";
}
.schedule-single-card-content > :nth-child(3) > div > :nth-child(1) {
  min-width: 150px;
}
@media screen and (max-width: 1200px) {
  .schedule-single-card {
    width: 480px;
    height: 240px;
  }
  .schedule-single-card > img {
    width: 480px;
    height: 240px;

  }

  .schedule-single-card-content {
    width: 97%;
    top: 2.5%;
    padding: 5% 5% 5% 7%;
    gap: 0.9vw;
  }
  .schedule-wrapper > .heading-team {
    font-size: 40px;
  }

  .schedule-single-card-content > :nth-child(1) {
    font-size: 26px;
  }
  .schedule-single-card-content > :nth-child(1) > img {
    width: 185px;
  }
  .schedule-single-card-content > :nth-child(2) {
    height: 2px;
  }
  .schedule-single-card-content > :nth-child(3) {
    gap: 1vw;
  }
  .schedule-single-card-content > :nth-child(3) > div {
    gap: 25px;
    font-size: 16px;
  }
  .schedule-single-card-content > :nth-child(3) > div > :nth-child(1) {
    min-width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .schedule-single-card {
    width: 400px;
    height: 200px;
  }
   .schedule-single-card > img {
    width: 400px;
    height: 200px;

  }
  .schedule-days-card-wrapper {
    width: 100vw;
    
    margin-bottom: -10vw;
  }
 
  .schedule-days-card-wrapper > div:nth-child(odd) > div:nth-child(1) {

  border-top: none;
  border-right: none;
}
.schedule-days-card-wrapper > div:nth-child(even) > div:nth-child(1) {

  border-top: none;
  border-left: none;
}
.schedule-days-card-wrapper>div>:nth-child(1){
  display: none;
}
 .schedule-single-card-content > :nth-child(3) > div > :nth-child(1) {
    min-width: 92px;
  }
}
@media screen and (max-width: 500px) {
  .schedule-single-card {
    width: 420px;
  }
  .schedule-single-card > img {
    width: 420px;
  }
  .schedule-single-card-content {
    width: 97%;
    top: 1%;
  }
}

@media screen and (max-width: 420px) {
  .schedule-single-card {
    width: 380px;
  }
  .schedule-single-card > img {
    width: 380px;
  }

  .schedule-single-card-content {
    width: 97%;
    top: 1%;
    padding: 5% 5% 5% 7%;
    gap: 0.9vw;
  }

  .schedule-single-card-content > :nth-child(1) {
    font-size: 22px;
  }
  .schedule-single-card-content > :nth-child(1) > img {
    width: 135px;
  }
  .schedule-single-card-content > :nth-child(2) {
    height: 2px;
  }
  .schedule-single-card-content > :nth-child(3) {
    gap: 1vw;
  }
  .schedule-single-card-content > :nth-child(3) > div {
    gap: 25px;
    font-size: 16px;
  }
}
