.events-wrapper-main {
  margin-top: 150px;
  margin-bottom: 0px;
  padding: 25px auto 0px auto;
  align-items: center;
  justify-content: center;
  background: #171717;
  color: white;
  width: 85vw;
}

.events-wrapper-main > .heading-team {
  font-size: 3vw;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "NeueMachinaUltrabold";
}
.events-wrapper-main > div {
  display: flex;
  justify-content: center;
  font-family: "NeueMachinaUltrabold";
  font-size: 7.9vw;
  color: #3c3c3c;
}

.events-header-card-wrapper {
  width: 100vw;
}
.events-header-card-wrapper > .card-background {
  height: 100px;
  width: 85vw;

  background-color: rgba(255, 0, 0, 0.7);
  --edge-size: 0.5em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--edge-size)) 0,
    calc(100% - var(--edge-size)) calc(0%),
    calc(100% - var(--edge-size)) calc(0%),
    calc(100% - 3px) calc(var(--edge-size)),
    calc(100% - 0.5px) calc(var(--edge-size)),
    calc(100%) calc(var(--edge-size)),
    100% 100%,
    calc(var(--edge-size)) 100%,
    0 calc(100% - var(--edge-size))
  );
}
