.events-wrapper-main {
  margin-top: 150px;
  margin-bottom: 0px;
  padding: 25px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #171717;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.events-wrapper-main > .heading-team {
  font-size: 3vw;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "NeueMachinaUltrabold";
}
.events-wrapper-main > div {
  display: flex;
  justify-content: center;
  font-family: "NeueMachinaUltrabold";
  color: #3c3c3c;
}
.event-card-main-des {
  width: 90vw;
  height: 35vw;
  margin-top: 50px;
  margin-bottom: 50px;
}
.event-card-main-des > img {
  width: 100%;
  height: 31vw;
}
.e-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.e-card-content > img {
  width: 100%;
  height: 20vw;
}
.e-card-content-head {
  width: 100%;
  height: 21vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.e-card-content-head > p {
  font-size: 3.7vw;
  line-height: 1;

  font-family: "NeueMachinaRegular";
}
.e-card-content-head > h1 {
  font-size: 6.5vw;
  line-height: 1;
}
.e-card-content-p {
  padding: 10px;
  display: flex;
  gap: 1%;
  justify-content: space-between;
}
.e-card-content-p > .e-card-content-p-n1 {
  width: 60%;
  font-size: 1.34vw;
  line-height: 1.2;
  font-family: "NeueMachinaRegular";
}
.e-card-content-p > .e-card-content-p-n2 > h3 {
  background: linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 3vw;
}
.e-card-content-p > .e-card-content-p-n2 > h4 {
  font-size: 2vw;
}
.e-card-content-p > .e-card-content-p-n3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.e-card-content-p > .e-card-content-p-n3 > :nth-child(1){
width: 20vw;
}
.e-card-content-p > .e-card-content-p-n3 > :nth-child(2)>img {
  width: 3.5vw;
  justify-self: flex-end;
  rotate: 90deg;
}
.events-single-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  gap: 3vw;
  width: 90vw;
  height: fit-content;
}

.single-event-card-desk > div > img {
  width: 100%;
  height: 500px;
}

.single-event-card-desk > div {
  position: relative;
  width: calc(300% / 3);
}
.popup-card:hover {
  opacity: 1;
}
.popup-card {
  display: none;
  position: absolute;
  transform: translateX(0%);
  transform: translateY(-100%);
  padding: 10px;
  border: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.popup-card > img {
  width: 400px;
  height: 500px;
}
.single-event-card-desk > div:hover .popup-card,
.single-event-card-new > div:hover .popup-card {
  display: block;
}
.single-event-card-new {
  width: 360px;
  height: 500px;
  display: none;
}
.events-wrapper-main .mobile-event-head {
  display: none;
}
.mobile-des-card {
  display: none;
  position: relative;
  width: 340px;
  height: 470px;
}
.card-des {
  transition: opacity 0.5s ease-in-out;
}
.card-des-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.card-des-content > p {
  font-family: "NeueMachinaRegular";
  font-size: 20px;
}
.card-des-content > h1 {
  font-size: 35px;
}
.card-des-content > :nth-child(3) {
  align-self: flex-end;
  margin-right: 30px;
}
.popup-card-des {
  position: absolute;
  top: -2%;
  left: 2%;
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}
.popup-card-des-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 20px 20px;
  gap: 6px;
}

.popup-card-des-content > :nth-child(1) {
  width: 120px;
}
.popup-card-des-content > h1 {
  font-size: 26px;
}
.popup-card-des-content > h2 {
  font-size: 26px;
  background: linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.popup-card-des-content > p {
  font-family: "NeueMachinaRegular";
  font-size: 14px;
}
.popup-card-des-content > a {
  font-family: "NeueMachinaRegular";
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: white;
  background: linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
}

.mobile-des-card:hover .popup-card-des {
  opacity: 1;
}
.mobile-des-card:hover .card-des {
  opacity: 0.5;
}

.single-event-card-new > div {
  width: 100%;
}
.single-event-card-new > div :hover .bg-event-single {
  opacity: 0.3;
}
.single-event-card-new > div > img {
  width: 350px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.single-event-card-new > div > div > img {
  width: 350px;
  height: 450px;
}
.popup-card-content-mob {
  top: 5%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 8px;
}
.popup-card-content-mob > :nth-child(1) {
  width: 120px;
}
.popup-card-content-mob > h1 {
  font-size: 25px;
}
.popup-card-content-mob > h2 {
  font-size: 25px;
  background: linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.popup-card-content-mob > p {
  font-family: "NeueMachinaRegular";
  font-size: 13.5px;
  text-align: justify;
}
.single-event-card-desk .popup-card-content-mob>p{
  font-size: 15px;
}
.popup-card-content-mob > a {
  font-family: "NeueMachinaRegular";
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 5px;
  background: linear-gradient(128.92deg, #8e0042 0%, #e30069 57.77%);
}
.popup-card-content-mob > a >img{
  height: 16px;
}
@media screen and (max-width: 600px) {
  .single-event-card-new {
    display: block;
  }
  .single-event-card-desk {
    display: none;
  }
  .event-card-main-des,
  .e-card-content,
  .event-card-main-des > img,
  .e-card-content-head,
  .single-event-card-desk > div:hover .popup-card,
  .e-card-content-p,
  .event-card-main-des .image-container {
    display: none;
  }
  .events-wrapper-main > :nth-child(2),
  .events-wrapper-main > :nth-child(1) {
    display: none;
  }
  .events-wrapper-main .mobile-event-head {
    display: block;
    font-size: 7vw;
    color: white;
    font-family: "NeueMachinaUltrabold";
    margin-bottom: 80px;
  }
  .mobile-des-card {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .events-single-content-wrapper {
    gap: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: 95vw;
  }
  .event-single-card > img {
    width: 300px;
    height: 420px;
  }
  .event-single-card-content {
    width: 300px;
    height: 420px;

    padding: 20px 10px;
  }
  .event-single-card-content > img {
    width: 130px;
  }
  .event-single-card-content > h1 {
    font-size: 25px;
  }
  .event-single-card-content > div > p {
    font-size: 16px;
  }
}
