.events-wrapper {
  margin-top: 100px;
  margin-bottom: 0px;
  padding: 25px 80px 0px 80px;
  align-items: center;
  justify-content: center;
  background: #171717;
  color: white;
  width: 100vw;
}

.events-header {
  display: flex;
  margin: 0;
  right: 0;
  padding: 0px;
  font-family: "NeueMachinaUltrabold";
  align-items: center;
}

.transition-div-e {
  position: relative;
  right: 0;
  width: 60vw;
  animation: slide-in-e 5s forwards;
  gap: 10px;
}

@keyframes slide-in-e {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.events-header > img {
  width: 100px;
  height: 100px;
}

.events-header > p {
  font-weight: 800;
  font-size: 140px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  margin: 0px 10px 0px 0px;
}

.events-content-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 40px;
  gap: 20px;
}
.events-content-routed {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.events-content-routed > button {
  width: 28%;
  padding: 20px 0px;
  display: flex;
  font-size: 22px;
  font-family: "NeueMachinaRegular";
}
.events-content-routed > button>a{
  text-decoration: none;
color: black;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;

}
.events-content-routed > button>a>img{
  height: 22px;
}
.events-content-routed > .events-button-one {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
}
.events-content-routed > div {
  display: flex;
}

.events-content-routed > .events-button-two {
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.events-card {
  width: 90%;
  height: 300px;
  perspective: 1500px;
  position: relative;
}

.events-card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6vw;
  text-align: center;
   font-family: "NeueMachinaUltrabold";  


}
.events-card-back {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2vw;
  font-family: "NeueMachinaRegular";

}

.events-card-front {
  transform: rotateY(0deg);
}

.events-card-back {
  transform: rotateY(180deg);
}

.events-card:hover .events-card-front {
  transform: rotateY(180deg); /* Flip the card on hover */
}

.events-card:hover .events-card-back {
  transform: rotateY(0deg);
}

@media screen and (max-width: 1650px) {
  .events-header > p {
    font-size: 130px;
    margin: 0px 10px 0px 0px;
  }
  .events-header > img {
    width: 100px;
    height: 95px;
  }
  @keyframes slide-in-e {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .events-wrapper {
    padding: 20px 72px 0px 72px;
  }
}

@media screen and (max-width: 1400px) {
  .events-header > p {
    font-size: 120px;
    margin: 0px 10px 0px 0px;
  }
  .events-header > img {
    width: 100px;
    height: 85px;
  }
  @keyframes slide-in-e {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .events-wrapper {
    padding: 30px 70px 0px 70px;
  }
}

@media screen and (max-width: 1200px) {
  .events-header > p {
    font-size: 110px;
    margin: 0px 10px 0px 0px;
  }
  .events-header > img {
    width: 80px;
    height: 80px;
  }
  .transition-div-e {
    width: 80vw;
  }
  @keyframes slide-in-e {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .events-wrapper>.events-header{
    padding: 0px 20px 0px 20px;

  }
   .events-wrapper {
    padding: 30px 50px 0px 50px;
  }
}

@media screen and (max-width: 1000px) {
  @keyframes slide-in-e {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
   .events-wrapper {
    padding: 10px 25px 0px 25px;
  }
  .events-content-routed > button {
  width: 29%;
  padding: 18px 0px;
  font-size: 18px;
}
}
@media screen and (max-width: 800px) {
  .events-header > p {
    font-size: 80px;
    margin: 0px 10px 0px 0px;
  }
  .events-header > img {
    width: 60px;
    height: 60px;
  }
  .transition-div-e {
    width: 90vw;
  }
  @keyframes slide-in-e {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .events-wrapper>.events-header{
    padding: 0px 20px 0px 20px;

  }
  .events-wrapper {
    padding: 10px 20px 0px 20px;
  }
    .events-content-routed > button {
  width: 32%;
  padding: 16px 0px;
  font-size: 16px;
}
 .events-content-routed > button>a>img{
  height: 15px;
 }
}

@media screen and (max-width: 500px) {
  .events-header > p {
    font-size: 55px;
    margin: 0px 10px 0px 0px;
  }
  .events-header > img {
    width: 40px;
    height: 50px;
  }
  .transition-div-e {
    width: 90vw;
  }
  .events-wrapper>.events-header{
    padding: 0px 30px 0px 30px;

  }
  .events-wrapper {
    padding: 0px 0px 0px 0px;
  }
  @keyframes slide-in-e {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
      .events-content-routed > button {
  width: 47%;
  padding: 15px 0px;
  font-size: 14px;
}
 .events-content-routed > button>a>img{
  height: 14px;
  width: 14px;
 }
}
