.sponsors-wrapper {
  padding: 25px auto 0px auto;
  align-items: center;
  justify-content: center;
  background: #171717;
  color: white;
  width: 80vw;
}

.transition-div-s {
  position: relative;
  right: 0;
  width: 60vw;
  height: 100px;
  animation: slide-in-s 5s forwards;
}
.slide-in {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.slide-in.active {
  transform: translateX(0);
}

@keyframes slide-in-s {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(55%);
  }
}

.sponsors-logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  width: 100%;
}

.line {
  height: 2px;
  background-color: #ed4492;
}
.l-one {
  width: 70%;
}
.l-two {
  width: 50%;
}
.l-three {
  width: 30%;
}

.div-sponsors-tire {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.twinkle-sponsors {
  display: flex;
  justify-content: right;
}
.twinkle-sponsors > img {
  width: 3.5vw;
}
.company-sponsors-div {
  display: flex;
  align-items: center;
  gap: 5%;
}

.company-sponsors-div > img {
  width: 18vw;
}

.sponsors-text-div-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.sponsors-text-div {
  width: 90%;
}

.sponsors-text-one {
  font-size: 4.3vw;
  line-height: 0.9;
  width: 100%;
  font-family: "NeueMachinaUltrabold";
}
.sponsors-text-two {
  margin-top: 20px;
  font-size: 1.6vw;
  font-family: "NeueMachinaRegular";
}

.sponsors-text-div-wrapper > div > a > img {
  transform: rotate(0deg);
  width: 10vw;
}

@media screen and (max-width: 1650px) {
  @keyframes slide-in-s {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(40%);
    }
  }
}

@media screen and (max-width: 1400px) {
  @keyframes slide-in-s {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(30%);
    }
  }
}

@media screen and (max-width: 1100px) {
  @keyframes slide-in-s {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(20%);
    }
  }
  .sponsors-text-div-wrapper > div > a > img {
    width: 9.7vw;
  }
  .sponsors-text-div-wrapper{
    margin-top: 70px;
  }
  .sponsors-wrapper{
    margin-top: -25px;
  }
}
@media screen and (max-width: 800px) {
  .sponsors-text-one {
    font-size: 6.9vw;
    line-height: 0.93;
    width: 95%;
  }
  .sponsors-text-two {
    margin-top: 15px;
    font-size: 1.74vw;
  }
  .sponsors-text-div-wrapper > div > a > img {
  width: 17vw;
}
.sponsors-text-div-wrapper{
    margin-top: 60px;
  }
  .sponsors-wrapper{
    margin-top: -35px;
  }
}
@media screen and (max-width: 700px) {
  @keyframes slide-in-s {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
@media screen and (max-width: 500px) {
.sponsors-text-one {
    font-size: 6.3vw;
    line-height: 0.95;
    width: 96%;
  }
  .sponsors-text-two {
    margin-top: 15px;
    font-size: 1.8vw;
  }
  .sponsors-text-div-wrapper > div > a > img {
  width: 14vw;
}
.arrow-sponsor{
  align-self: self-end;
}
.sponsors-text-div-wrapper{
    margin-top: 50px;
  }
    .sponsors-wrapper{
    margin-top: -65px;
  }
  .sponsors-logo-wrapper {
    margin-top: 15px;
  }
}

@media screen and (max-width: 430px) {
  .sponsors-wrapper > .event-wrapper > .event-header {
    margin: 0%;
    margin-top: 20px;
    gap: 10px;
  }
  .sponsors-logo-wrapper {
    margin-top: 10px;
  }
  .sponsors-wrapper > .event-wrapper > .event-header > p {
    font-size: 50px;
  }
  .sponsors-wrapper > .event-wrapper > .event-header > img {
    width: 40px;
    height: 40px;
  }
}
