.faq-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}
.faq-header{
  font-family: "NeueMachinaUltrabold";
font-size: 2vw;
}

.faq-container{
  margin-top: 2vw;
    width: 80vw;
    color: white;
  font-family: "NeueMachinaRegular";
  background-color: #171717;
display: flex;
justify-content: space-between;
padding: 1vw 2vw;
border-top-right-radius: 50px;
}
.faq-text{
    display: flex;
}

.pop-up-faq{
  font-family: "NeueMachinaRegular";

    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding: 1vw 0.7vw 0.4vw 3vw ;
    background-color: white;
    color: black;
}